{% extends base_template %}
{% block title %}Animal'sCare - Elimina annuncio{% endblock %}
{% block annunci_active %}active{% endblock %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6" style="float: none; margin: 0 auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: center;">
                        <h4>Confermi di voler eliminare l'annuncio?</h4>

                        <a href="{% url 'annunci:dettagli_annuncio' oid=annuncio.pk %}" class="btn btn-primary">Indietro</a>&nbsp;&nbsp;
                        <a href="{% url 'annunci:elimina_annuncio_conferma' oid=annuncio.pk %}" class="btn btn-danger">Conferma</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}