{% extends base_template %}
{% block title %}Animal'sCare - Annunci{% endblock %}
{% block annunci_active %}active{% endblock %}

{% block body %}

    <div class="container text-left">
        {% if username is not None %}
            <b>Annunci di {{ username }}</b>
        {% endif %}
    </div>
    <form action = "
    {% if username is None %}
        {% url 'annunci:lista-annunci'  %}
    {% else %}
        {% url 'annunci:annunci_di_utente' username  %}
    {% endif %}
    " method = "post">
        {% csrf_token %}
        <div class="container text-center">
        <select name = 'sel_categoria' class="form-control selectpicker show-tick" onchange='this.form.submit()'>
            <option {% if sel_categoria == 'tutte' %}
                    selected
                    {% endif %} value="tutte">Tutte le categorie di annunci</option>
            <option {% if sel_categoria == 'petsitter' %}
                    selected
                    {% endif %}value = "petsitter">Cerco un petsitter</option>
            <option {% if sel_categoria == 'normale' %}
                    selected
                    {% endif %} value = "normale">Cerco un pet</option>
        </select>
        <select name = 'sel_pet' class="form-control selectpicker show-tick" onchange='this.form.submit()'>
            <option {% if sel_pet == 'tutti' %}
                    selected
                    {% endif %} value = "tutti">Tutti gli animali</option>
            <option {% if sel_pet == 'Cane' %}
                    selected
                    {% endif %} value = "Cane">Cani</option>
            <option {% if sel_pet == 'Gatto' %}
                    selected
                    {% endif %} value = "Gatto">Gatti</option>
            <option {% if sel_pet == 'Coniglio' %}
                    selected
                    {% endif %} value = "Coniglio">Conigli</option>
            <option {% if sel_pet == 'Volatile' %}
                    selected
                    {% endif %} value = "Volatile">Volatili</option>
            <option {% if sel_pet == 'Rettile' %}
                    selected
                    {% endif %} value = "Rettile">Rettili</option>
            <option {% if sel_pet == 'Altro' %}
                    selected
                    {% endif %} value = "Altro">Altro</option>
         </select>
        </div>
    </form>



    <div class="container">
        {% for annuncio, profilo in annunci.items %}
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 text-center">
                                <a href="{% url 'annunci:dettagli_annuncio' oid=annuncio.pk %}" >
                                    <img src="{{ annuncio.logo_annuncio_or_default }}" alt="bootsnipp"
                                         class="img-rounded img-responsive" />
                                </a>
                            </div>
                            <div class="col-xs-10 col-md-10 section-box">
                                <div class="inline-block">
                                    <a href="{% url 'annunci:dettagli_annuncio' oid=annuncio.pk %}" >
                                        <h2>{{ annuncio.titolo }}</h2>
                                    </a>
                                </div>&nbsp;
                                <div class="inline-block">
                                    <a href="{% url 'annunci:dettagli_annuncio' oid=annuncio.pk %}" target="_blank">
                                    <span class="glyphicon glyphicon-new-window" style="font-size:20px;">
                                    </span></a>
                                </div>

                                <p>
                                    {{ annuncio.sottotitolo }}
                                    <h6>{{ annuncio.user.first_name }} {{ annuncio.user.last_name }}, {{ profilo.indirizzo }} , {{ profilo.citta }} <br><br>
                                <b>Data di inizio: </b>{{ annuncio.data_inizio }} &nbsp; <b>Data di fine: </b>{{ annuncio.data_fine }}</h6>
                                </p>
                                <hr />
                                <div class="row rating-desc">
                                    <div class="col-md-12">
                                        <div class="inline-block">
                                            <h6><b>Pubblicato da:</b></h6>
                                        </div>
                                        <div class="inline-block">
                                            <a href="{% url 'utenti:view-profile' oid=annuncio.user.pk %}" >{{ annuncio.user.username }}</a>
                                        </div>
                                        <span class="separator">|</span>
                                        {% for annuncio_voto, voto in annunci_voti.items %}
                                            {% if annuncio_voto == annuncio %}
                                                {% for i in 'xxxxx' %}
                                                    {% if forloop.counter0 < voto %}
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                                    {% endif %}
                                                {% endfor %}
                                                ( {{ voto }}
                                            {% endif %}
                                        {% endfor %}

                                        )<span class="separator">|</span>
                                        <span class="glyphicon glyphicon-comment"></span>(
                                        {% for annuncio_recensioni, recensioni in annunci_recensioni.items %}
                                            {% if annuncio_recensioni == annuncio %}
                                                {{ recensioni }}
                                                {% if recensioni != 1 %}
                                                    Recensioni
                                                {% else %}
                                                    Recensione
                                                {% endif %}
                                                )
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}