{% extends base_template %}
{% block title %}Petiverse - Cassa{% endblock %}
{% block pet_coins_active %}active{% endblock %}
{% load staticfiles %}


{% block body %}
<div style="text-align: center;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5" style="float: none; margin: 0 auto;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Acquista o vendi Pet Coins</h3>

                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <br>

                        <div class="inline-block">
                            <h5>Saldo attuale: {{ user_profile.pet_coins }}</h5>
                        </div>&nbsp;
                        <div class="inline-block">
                            <img src="{% static 'main/images/pet_coin.png' %}"
                                style="width: 50%; height: 50%" />
                        </div>

                        <form action = "{% url 'utenti:cassa' %}" method = "post">
                        {% csrf_token %}

                            <h4><br>Acquista Pet Coins:</h4>

                            <button type="submit" name="value" value="50" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; 50 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;
                            <button type="submit" name="value" value="100" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; 100 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;
                            <button type="submit" name="value" value="200" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; 200 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;

                            <h4><br>Vendi Pet Coins:</h4>
                            <button type="submit" name="value" value="-50" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp; 50 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;
                            <button type="submit" name="value" value="-100" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp; 100 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;
                            <button type="submit" name="value" value="-200" class="btn btn-primary">
                                <div class="inline-block-minus">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp; 200 &nbsp;
                                </div>
                                <div class="inline-block-minus">
                                    <img src="{% static 'main/images/pet_coin.png' %}"
                                                   style="width: 40%; height: 40%">
                                </div>
                            </button>&nbsp;
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}