{% extends base_template %}
{% load staticfiles%}
{% block title %}Animal'sCare - Profilo{% endblock %}
{% block profilo_active %}active{% endblock %}


{% block body %}

<script type="text/javascript" src="{% static 'map.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 toppad" style="float: none; margin: 0 auto;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ view_user.username }} - utente normale</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"><img alt="Foto profilo"
                                src="{{ user_profile.foto_profilo_or_default }}" class="img-responsive"></div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Nome</td>
                                        <td>{{ view_user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cognome</td>
                                        <td>{{ view_user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:{{ view_user.email }}">{{ view_user.email }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Indirizzo</td>
                                        <td>{{ user_profile.indirizzo }}</td>
                                    </tr>
                                    <tr>
                                        <td>Città</td>
                                        <td>{{ user_profile.citta }}</td>
                                    </tr>
                                    <tr>
                                        <td>Provincia</td>
                                        <td>{{ user_profile.provincia }}</td>
                                    </tr>
                                    <tr>
                                        <td>Regione</td>
                                        <td>{{ user_profile.regione }}</td>
                                    </tr>
                                    <tr>
                                        <td>Posizione</td>
                                        <td>
                                            <input id="mappa-btn" type="button" onclick="myFunction()"
                                                   value="Mostra mappa">
                                            <div id="mappa-div" style="display: none">
                                                <iframe width="300" height="250" frameborder="0" style="border:0"
                                                        src="https://www.google.com/maps/embed/v1/search?q=
                                                        {{ user_profile.indirizzo }}%20{{ user_profile.citta }}%20
                                                        {{ user_profile.provincia }}%20{{ user_profile.regione }}
                                                        &key=AIzaSyA6GQs9IyXUWEBu6vDvlKteuM0AReR4Nag"
                                                        allowfullscreen></iframe>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Telefono</td>
                                        <td>{{ user_profile.telefono }}</td>
                                    </tr>
                                    <tr>
                                        <td>Voti</td>
                                        <td>
                                            {% for i in 'xxxxx' %}
                                                {% if forloop.counter0 < voto_avg %}
                                                    <span class="glyphicon glyphicon-heart"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                {% endif %}
                                            {% endfor %}
                                            ( {{ voto_avg }})
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Recensioni</td>
                                        <td>
                                            <span class="glyphicon glyphicon-comment"></span>(
                                                {{ recensioni_num }}
                                            {% if recensioni_num != 1 %}
                                                Recensioni
                                            {% else %}
                                                Recensione
                                            {% endif %}
                                            )</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-3 col-lg-3 " align="left"><img alt = "Foto pet"
                                                                          src="{{ user_profile.foto_pet_or_default }}"
                                                                            class="img-responsive"></div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Nome pet</td>
                                        <td>{{ user_profile.nome_pet }}</td>
                                    </tr>
                                    <tr>
                                        <td>Razza</td>
                                        <td>{{ user_profile.razza }}</td>
                                    </tr>
                                    <tr>
                                        <td>Età pet</td>
                                        <td>{{ user_profile.eta }}</td>
                                    </tr>
                                    <tr>
                                        <td>Particolarità</td>
                                        <td>{{ user_profile.caratteristiche }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'annunci:annunci_di_utente' username=view_user.username %}"
                       class="btn btn-primary">Annunci di {{ view_user.username }}</a>
                    <a href="{% url 'recensioni:recensioni_ricevute' username=view_user.username %}"
                       class="btn btn-primary">Recensioni ricevute</a>
                    {% if request.user.pk == view_user.pk %}
                        <span class="pull-right">
                            <a href="{% url 'utenti:edit_profile' oid=user.pk %}" class="btn btn-primary">
                                Modifica profilo</a>
                            <a href="{% url 'utenti:elimina_profilo' oid=user.pk %}" class="btn btn-danger">
                                Elimina profilo</a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
