{% extends base_template %}
{% load staticfiles%}
{% block title %}Animal'sCare - scegli qui come vuoi completare la tua registrazione{% endblock %}
{% block login_active %}active{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6" style="float: none; margin: 0 auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: center;">
                        <h3>Scegli il tipo di profilo</h3>
                    </div>
                    <br>
                    <div class="col-sm-offset-20 col-sm-100">
                        <br>
                        <button><a href="{% url 'utenti:oauth_normale'%}">Utente Normale</a></button>
                        <br><br>
                        <button><a href="{% url 'utenti:oauth_petsitter'%}">PetSitter</a></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock body %}
