body{
    background: white url("images/background.png");
}

/* Colore navbar */
.navbar-default {
    background-color:#232f3e;
    color:#ffffff;
    border-radius:0;
}

/* Colore scritte non selezionate */
.navbar-default .navbar-nav > li > a {
    color:#e1e1e1;
}

/* Colore scritta selezionata */
.navbar-default .navbar-nav > .active > a {
    color: #eeeeee;
    background-color:transparent;
}

/* Background opzione selezionata */
.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background: #3b5998; /* 4e698a */
}

/* Background opzione hovered */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #304054;
    color: #eeeeee;
}

/* Colore brand */
.navbar-default .navbar-brand {
    color:#e1e1e1;
}

/* Colore brand hovered */
.navbar-default .navbar-brand:hover {
    color: #eeeeee;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.inline-block {
   display: inline-block;
}

.inline-block-minus {
   display: inline-block;
   margin-right: -15px;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.required::after {
    content: ' *';
    color: red;
}

label.error{background:url(/static/images/unchecked.gif) no-repeat;padding-left:16px;margin-left:.3em}
label.valid{background:url(/static/images/checked.gif) no-repeat;display:inline;width:16px;height:16px}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #c4c4c4;
}

@font-face {
    font-family: "typold_medium";
    src: url("/static/typold_medium.otf") format("opentype");
}